<section class="profile-detail">
    <h2>Detail Page</h2>
    <label>Enter your username:</label>

    <v-form v-model="valid">
        <v-container >
            <v-layout wrap>
                <v-flex xs12 sm6 md3>
                    <v-text-field
                        v-validate="formModule.getControl('userName').validators"
                        v-model="formModule.getControl('userName').value"
                        :data-vv-name="formModule.getControl('userName').name"
                        label="Username">
                    </v-text-field>
                </v-flex>

                <v-flex xs12 sm6 md3>
                    <v-text-field
                        v-validate="formModule.getControl('email').validators"
                        v-model="formModule.getControl('email').value"
                        :data-vv-name="formModule.getControl('email').name"
                        label="E-mail">
                    </v-text-field>
                </v-flex>

                <v-checkbox
                    v-model="formModule.getControl('isPublic').value"
                    :label="`Public`">
                </v-checkbox>
               
                <v-btn
                        :disabled="!isValidForm"
                        color="success"
                        @click="send">
                    Send
                </v-btn>
            </v-layout>
        </v-container>
    </v-form>
</section>